Using PySpark 

Read the CSV file inferring the schema and considering the file headers. 

Print the row count 

And display the top 20 rows values

In [ ]:
!pip install pyspark
!pip install findspark

In [32]:
from pyspark.sql.functions import avg

In [11]:
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName('testApp').getOrCreate()

In [29]:
df = spark.read\
            .option("header", "true")\
            .option("inferSchema" , "true")\
              .csv('/content/sample_data/california_housing_train.csv')

In [31]:
df.count()

17000

In [30]:
df.show(20)

+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+
|longitude|latitude|housing_median_age|total_rooms|total_bedrooms|population|households|median_income|median_house_value|
+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+
|  -114.31|   34.19|              15.0|     5612.0|        1283.0|    1015.0|     472.0|       1.4936|           66900.0|
|  -114.47|    34.4|              19.0|     7650.0|        1901.0|    1129.0|     463.0|         1.82|           80100.0|
|  -114.56|   33.69|              17.0|      720.0|         174.0|     333.0|     117.0|       1.6509|           85700.0|
|  -114.57|   33.64|              14.0|     1501.0|         337.0|     515.0|     226.0|       3.1917|           73400.0|
|  -114.57|   33.57|              20.0|     1454.0|         326.0|     624.0|     262.0|        1.925|           65500.0|
|  -114.58|   33.63|              29.0|     1387.0|         236.0|     671.0|     239.0|       3.3438|           74000.0|
|  -114.58|   33.61|              25.0|     2907.0|         680.0|    1841.0|     633.0|       2.6768|           82400.0|
|  -114.59|   34.83|              41.0|      812.0|         168.0|     375.0|     158.0|       1.7083|           48500.0|
|  -114.59|   33.61|              34.0|     4789.0|        1175.0|    3134.0|    1056.0|       2.1782|           58400.0|
|   -114.6|   34.83|              46.0|     1497.0|         309.0|     787.0|     271.0|       2.1908|           48100.0|
|   -114.6|   33.62|              16.0|     3741.0|         801.0|    2434.0|     824.0|       2.6797|           86500.0|
|   -114.6|    33.6|              21.0|     1988.0|         483.0|    1182.0|     437.0|        1.625|           62000.0|
|  -114.61|   34.84|              48.0|     1291.0|         248.0|     580.0|     211.0|       2.1571|           48600.0|
|  -114.61|   34.83|              31.0|     2478.0|         464.0|    1346.0|     479.0|        3.212|           70400.0|
|  -114.63|   32.76|              15.0|     1448.0|         378.0|     949.0|     300.0|       0.8585|           45000.0|
|  -114.65|   34.89|              17.0|     2556.0|         587.0|    1005.0|     401.0|       1.6991|           69100.0|
|  -114.65|    33.6|              28.0|     1678.0|         322.0|     666.0|     256.0|       2.9653|           94900.0|
|  -114.65|   32.79|              21.0|       44.0|          33.0|      64.0|      27.0|       0.8571|           25000.0|
|  -114.66|   32.74|              17.0|     1388.0|         386.0|     775.0|     320.0|       1.2049|           44000.0|
|  -114.67|   33.92|              17.0|       97.0|          24.0|      29.0|      15.0|       1.2656|           27500.0|
+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+
only showing top 20 rows

In [37]:
df_1 = df.groupBy('median_income')\
        .agg(avg('median_house_value'))

df_1.show()

+-------------+-----------------------+
|median_income|avg(median_house_value)|
+-------------+-----------------------+
|       1.9939|                65800.0|
|       2.8827|               166700.0|
|        2.712|               116400.0|
|       1.6023|                79300.0|
|       5.3307|               188300.0|
|       2.5625|              136118.75|
|       3.4659|               163000.0|
|       4.7813|               234862.5|
|        4.605|               263300.0|
|        1.462|                70200.0|
|       2.0147|               112600.0|
|       2.7827|               105800.0|
|       5.7797|               309200.0|
|       6.4967|               387500.0|
|       3.1949|               207400.0|
|       3.7143|     164988.88888888888|
|       7.6709|               319500.0|
|       5.4236|               216700.0|
|       2.5978|               200600.0|
|       4.8482|               500001.0|
+-------------+-----------------------+
only showing top 20 rows

In [38]:
df_1.write.csv('sample_data/california_housing_train_results.csv')